:root{
    --bg-blur: #93B5C9;
    --bg-wine: #AB2849;    
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.bloque-superior {
    background-color: var(--bg-blur);
    width: 100%; 
    height: 110px; 
    margin: auto ; 
}

.bloque-superior-rojo{
    width: 100%; 
    height: 230px;
    margin-bottom: -10px;

}

.bloque-rojo {
    background-color: var(--bg-wine);
}

.contenedor{
    float: right;
    width: 100%;
    margin: 10px auto;
}

.bloque-medio {
    width: 80%;           
    height: 105px;                    
    margin: 20px 0;      
}

.bloque-bajo {
    width: 96%; 
    height: 80px; 
    margin: 0px auto;
}

